node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp
# auto generated wildcard
pmcg/.env4
# auto generated wildcard
storeInCharge-TotalOrder/.env1
# auto generated wildcard
storeInCharge-TotalOrder/.env3
# auto generated wildcard
storeincharge-raisedpo/.env1
# auto generated wildcard
storeincharge-intransitpo/.env1
# auto generated wildcard
storeincharge-receivedpo/.env1
# auto generated wildcard
security-scanqr/.env2