/node_modules/
package-lock.json
/dist/
/.vscode/
/mta_archives/
/resources/

*.zip
*.env

# auto generated wildcard
security-scanqr/.env4
# auto generated wildcard
security-scan-history/.env3
# auto generated wildcard
storeincharge-totaldetails/.env1
# auto generated wildcard
user-roleassignment/.env3