node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
# auto generated wildcard
vendor-manageboq/.env1
# auto generated wildcard


# auto generated wildcard
agel-mmts-web/securityPerson-ScanQR/.env4

# auto generated wildcard
agel-mmts-web/vendorPersona/.env23
# auto generated wildcard
agel-mmts-web/vendorPersona-OpenPOs/.env1
# auto generated wildcard
security-international-import/.env2
# auto generated wildcard
agel-mmts-web/tcengineer/.env3
# auto generated wildcard


# auto generated wildcard
vendor-manageboq/.env4
# auto generated wildcard
agel-mmts-web/security-international-import/.env2