node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
# auto generated wildcard
vendor-manageboq/.env1
# auto generated wildcard
agel-mmts-web/user-roleassignment/.env1
# auto generated wildcard
user-roleassignment/.env2

# auto generated wildcard
vendorPersona/.env10
# auto generated wildcard
agel-mmts-web/vendor-packinglist-create/.env1
# auto generated wildcard
securityPerson-ScanQR/.env1
# auto generated wildcard
securityPerson-ScanQR/.env2
# auto generated wildcard
securityPerson-ScanQR/.env3
# auto generated wildcard
securityPerson-ScanQR/.env4
# auto generated wildcard
security-scanqr/.env1