node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
# auto generated wildcard
agel-mmts-web/vendor-mdcc/.env1
# auto generated wildcard
agel-mmts-web/securityPerson-ScanQR/.env4