/node_modules/
package-lock.json
/dist/
/.vscode/
/mta_archives/
/resources/


*.zip
*.env
.env


# auto generated wildcard
unloadmaterial/.env1
# auto generated wildcard
storeincharge-totaldetails/.env1
