node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
# auto generated wildcard
security-scanqr/.env1
# auto generated wildcard
agel-mmts-web/vendorPersona/.env23
# auto generated wildcard
agel-mmts-web/vendorPersona-OpenPOs/.env1
# auto generated wildcard
agel-mmts-web/vendor-manageboq/.env3
# auto generated wildcard
agel-mmts-web/tcengineer/.env3
# auto generated wildcard
pmcg/.env5
# auto generated wildcard
agel-mmts-web/vendorPersona/.env22
# auto generated wildcard
agel-mmts-web/vendor-mdcc/.env2
# auto generated wildcard
agel-mmts-web/vendor-map-mdcc/.env1