node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
# auto generated wildcard
agel-mmts-web/user-roleassignment/.env1
# auto generated wildcard
user-roleassignment/.env2
# auto generated wildcard


agel-mmts-web/vendor-managemdcc/.env1
# auto generated wildcard
agel-mmts-web/vendor-mdcc/.env1

vendorPersona/.env10
# auto generated wildcard
agel-mmts-web/vendor-packinglist-create/.env1

# auto generated wildcard
securityPerson-ScanQR/.env1
# auto generated wildcard
securityPerson-ScanQR/.env2
# auto generated wildcard
securityPerson-ScanQR/.env3
# auto generated wildcard
securityPerson-ScanQR/.env4
# auto generated wildcard
security-scanqr/.env1


# auto generated wildcard
agel-mmts-web/securityPerson-ScanQR/.env4


# auto generated wildcard
vendorPersona/.env11
# auto generated wildcard
agel-mmts-web/vendor-mdcc/.env1

# auto generated wildcard
agel-mmts-web/vendorPersona/.env23
# auto generated wildcard
agel-mmts-web/vendorPersona-OpenPOs/.env1
# auto generated wildcard
security-international-import/.env2
# auto generated wildcard
agel-mmts-web/tcengineer/.env3
# auto generated wildcard
pmcg/.env5
# auto generated wildcard
security-international-import/.env2
# auto generated wildcard
security-scan-history/.env2
# auto generated wildcard
security-scanqr/.env2
# auto generated wildcard
pmcg/.env6
# auto generated wildcard
tcengineer/.env4

# auto generated wildcard
vendor-manageboq/.env4