node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
# auto generated wildcard
agel-mmts-web/user-roleassignment/.env1
# auto generated wildcard
user-roleassignment/.env2
# auto generated wildcard
vendorPersona/.env10
# auto generated wildcard
agel-mmts-web/vendor-packinglist-create/.env1