node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
# auto generated wildcard
agel-mmts-web/vendorPersona/.env17
# auto generated wildcard
tcengineer/.env1
# auto generated wildcard
agel-mmts-web/vendorPersona/.env19
# auto generated wildcard
agel-mmts-web/vendorPersona-OpenPOs/.env1
# auto generated wildcard
agel-mmts-web/vendor-manageboq/.env1
# auto generated wildcard
agel-mmts-web/tcengineer/.env2
# auto generated wildcard
agel-mmts-web/user-roleassignment/.env1