/node_modules/
package-lock.json
/dist/
/.vscode/
/mta_archives/
/resources/



# auto generated wildcard
agel-mmts-web/vendorPersona/.env24
# auto generated wildcard
consumption-reservation/.env1
# auto generated wildcard
return-reservation/.env1