node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp
.*_mta_build_tmp


# auto generated wildcard
sapui5/storestock/.env5
# auto generated wildcard
sapui5/lognewconsumption/.env1