node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp
# auto generated wildcard
consumption-reservation/.env1
# auto generated wildcard
return-reservation/.env1
# auto generated wildcard
sapui5/consumption-reservation/.env1
# auto generated wildcard
sapui5/return-reservation/.env1
# auto generated wildcard
sapui5/admin-po_summary/.env2
# auto generated wildcard
sapui5/raise-returnmaterial/.env1