node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp
# auto generated wildcard
agel-mmts-web/security-international-import/.env1
# auto generated wildcard
agel-mmts-web/security-scan-history/.env1
# auto generated wildcard
agel-mmts-web/vendorPersona/.env23
# auto generated wildcard
agel-mmts-web/vendorPersona-OpenPOs/.env1
# auto generated wildcard
security-international-import/.env2
# auto generated wildcard
agel-mmts-web/tcengineer/.env3
# auto generated wildcard
pmcg/.env5
